.body{
  margin: 0;
  padding: 0;
  background-color: #f5f6f7
}

/* barra de navegacion */
.navbar{
  background-color: #f5f6f7;
}

.navfont{ 
  font-size :2.5rem;
  color: #1b1b32;
  text-decoration: none;
}

.navfont:hover{
  scale: 1.2;
  transition: 0.5s;
  color: orange;
}


.navbar-collapse {
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.section-oscura{
  color: white;
  background-color: #1b1b32;
}

.section-clara{
  color: black;
  background-color: white;
}

.section-titulo{
  font-family: 'Pixelify Sans', cursive;
  font-size: 4rem;
  padding: 15px 0;
}

.section-subtitulo{
  font-family: 'Pixelify Sans', cursive;
  font-size: 3rem;
  padding: 15px 0;
}

.section-texto{
  font-size: 1.5rem;
  font-family: "Markazi Text", serif;
}

/* Perfil */

.foto-perfil{
    width: 20rem;
}

.foto-pc{
  width: 30rem;
  height: 25rem;
}

/* Sobre mi */



/* Estudios */

.img-est{
  width: auto;
  height: 200px;
}

/* Footer  */




@media screen {
  .hero-inferior img {
    width: 600px;
  }
}

  